@import "tailwindcss";
@import "./styles/fonts.css";

:root {
  --background: #ffffff;
  --text-color: #101828;
  --bg-gray: rgb(245, 250, 249);
  --btn-red: #e44848;
  --hover-btn-red: #d84343;
  --hover-blue: rgb(8, 168, 241);
  --hover-gray: rgb(199, 210, 219);
  --star-yelow: #ffc531;
  --shadow-castom: 0 10px 20px rgba(0, 0, 0, 0.8);
  --gray-100: #f2f4f7;
  --inputs: #f7f7f7;
  --gray-light: #dadde1;
  --text-light: #475467;
  --gray: #6c717b;

  font-family: "Inter", "sans-serif";
}

@theme {
  --font-display: "Inter", "sans-serif";
  --breakpoint-2xl: 1440px;
  --color-inputs: var(--inputs);
  --color-gray-100: var(--gray-100);
  --color-background: var(--background);
  --color-text-color: var(--text-color);
  --color-btn-red: var(--btn-red);
  --color-hover-btn-red: var(--hover-btn-red);
  --color-star-yelow: var(--star-yelow);
  --color-gray-light: var(--gray-light);
  --color-text-light: var(--text-light);
  --color-gray: var(--gray);
  --color-castom-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-retina {
    background-image: url("/assets/img/truck_bg@2x.jpg");
  }
}
